body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  background: hsl(0, 0%, 8%);
  margin: 2%;
}
.container {
  padding: 32px 77px 21px;
  border-radius: 10px;
  background: hsl(0, 0%, 12%);
}
img {
  width: 100px;
  border-radius: 50%;
}
.place {
  position: relative;
  top: -5px;
  font-size: 17px;
  color: yellowgreen;
  font-weight: bold;
  font-style: italic;
}
.role {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.673);
}
.ad {
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px;
  background: hsl(0, 0%, 20%);
  width: 105%;
}
.ad:hover {
  color: hsl(0, 0%, 20%);
  background: hsl(75, 94%, 57%);
}
.li {
  text-decoration: none;
  color: white;
}
